@page "/{handler?}"
@model Xenial.Doughnut.FrontEnd.Pages._HostAuthModel
@namespace Xenial.Doughnut.FrontEnd.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard.Server</title>
    <base href="~/" />
</head>
<body>   
    @if (User.Identity.IsAuthenticated)
    {
        <app>
            <component type="typeof(Xenial.Doughnut.FrontEnd.App)" render-mode="Server" />
        </app>

        <script src="_framework/blazor.server.js"></script>
    }
    else
    {
        <h3>You are not logged into this application.</h3>

        <p>
            <a href="/Login">Login</a>
        </p>
    }
</body>
</html>
